transformers==4.50.0
tiktoken
streamlit>=1.43.2
sentencepiece
urllib3==1.26.19
transformers_stream_generator==0.0.4
accelerate
einops
#scipy
torch>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5 # not directly required, pinned by Snyk to avoid a vulnerability
